html,body{
	width: 100%;
	height: 100%;
	margin: 0;
  overflow: hidden;
}
* {
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    margin:0;padding:0;
    list-style-type: square;  
}
::selection {
    background: green;
    color: black;
    text-shadow: none;
}


header h1 {
    display: inline-block;
}
header h1 a {
    color: #bbb;
}
a {
    color: #999;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}

.imageBg{
      
  background: url(img/1.jpg);
  background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;

}
.colorBg {
   background: url(img/2.jpg);   
   background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
    
}
.imageBga{     
 
  background: url(img/3.jpg);
  background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
}
.imageBgb{
  background: url(img/4.jpg);
  background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
}
.imageBgc{
  background: url(img/5.jpg);
  background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
}
.imageBgd{
  background: url(img/6.jpg);
  background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
}
.wrapper {
    
    width: 30%;
    height: 30%;
    padding: 10px;
    border:solid 3px black;
    background: red;
    margin: 0 auto;
    float:left;
}
#player {   
    
    opacity:0.2;
    left: 0;
    right: 0;
    z-index: 99;
}
#player:hover {
    opacity: 1;
}

.info a {
    color: #bbb;  

    text-decoration: underline;
}
.bg {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
}
#bg_pic {
    background-color:#FFF ;
}
#bg_pica{background-color:red;}
#bg_picb{background-color:blue;}
#bg_picc{background-color:yellow;}
#bg_picd{background-color:gray;}

#bg_dark {
   background-color: #ff0c47;
}
/*這裡要注意*/
.playlist {
    position: absolute;
    right:0;	
    top:0;
    text-align: left;
    max-width:400px;
    width: 100%;
    max-height: calc(100% - 174px  );
    height: 100%;
    line-height: 3.2em;
    padding: 40px;
   
    z-index: 100;
    background-color:#000000e3;
}
.playlist.active{
  right:-480px;  
}
  



#playlist ol {
    height: 100%;
    width: 100%;
    overflow: auto;



  
  


}
#playlist ol li{
	text-align: center;
  margin-bottom:10px;
	border-bottom:solid 1px #FFF;	
  border-left: solid 1px #FFF;


}
#playlist ol li:hover{


  background: #FFF;
  border-radius: 0px 100px 100px 0px;

}

#lyricWrapper {

    margin-top:10%;
    max-height: 500px;
    min-height: 200px;
    height: 100%;
    width: 100%;
    /*background-color:#4342442e;*/
    text-align: center;
    
    /*border-radius: 0px 0px  100px 0px; */
    overflow: hidden;
    line-height: 65px;    
    color: #FFF;
    margin-bottom: 70px;
    font-size: 2em;

}

/* 常常跑位 */
#lyricContainer {
    position: relative;   
    top: 130px;
    text-shadow: 0px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 0px 0 #000; 
}

/*撥放用的字體*/
.current-line-0 {
    color: #FAFA17;
    font-size:2em;
}
.current-line-1 {
    color: #ff1493;
    font-size:2em;
}
.current-line-2 {
    color: #adff2f;
    font-size:2em;
}
.current-line-3 {
    color: #c617e8;
    font-size:2em;
}
.current-song, .current-song a {
    color: #f9ff08;
    font-size:1.8em;
   text-decoration:none;
}
/*已經消失在人海了*/


/*神奇小海螺*/
#playlist ol::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 15px;
	background-color: #F5F5F5;

}

#playlist ol::-webkit-scrollbar
{
	width: 5px;
    border-radius: 15px;
	background-color: #F5F5F5;
}

#playlist ol::-webkit-scrollbar-thumb
{
	border-radius: 15px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #BCBCBC;
}


/* 下面*/

#very{

    position: fixed;	
    bottom: 0;
    width: 100%;
    height: 95px;
    background-color:#000000e3;
    /*opacity: 0;*/
}
#very:hover{
  
	transition:0.5s; 
	opacity: 1;
}
#ibaimono img{width: 35px;height: 35px;}


#ibaimono  .items.naka  img{
  width: 62px;height: 62px;
}
/**/




/**進度條*/
 #ibaimono{
 display: flex ;
 	/*width: 300px;*/
	justify-content:space-around;}

   
   .items.naka{
     flex: 30%;
   display: flex;
   justify-content:center;
   align-items:center ;  
   }
    .items.naka img{
      margin-left:1%;
    }

.items.start{
 justify-content:flex-start ;
 margin-left: 3%;
 margin-top: 0.5%;
}
.items.end{
  justify-content:flex-end ;
  margin-right: 3%;
  margin-top: 0.5%;

}

   /*撥放器按鈕*/
.progress {
      display: flex;
      justify-content:center;
      align-items: center;
      width: 100%;
      margin: 0 auto;

      
    }

    .progress-bar {
      position: relative;
      width: 70%;
      height: 5px;
      background-color: gray;
      vertical-align: 2px;
      border-radius: 3px;
      cursor: pointer;
      margin-right: 10%;
      margin-left: 10%;

    }

    .now {
      position: absolute;
      left: 0;
      display: inline-block;
      height: 100%;
      width: 70%;
      background: #11ef6b;

    }

    .now::after {
      content: '';
      position: absolute;
      left: 100%;
      width: 3px;
      height: 100%;
      background-color: lightblue;
    }


    .start{
      font-size: 1.5em;
       color:#FFF;
    }
    .end{
      font-size: 1.5em;
       color:#FFF;
    }

    /***********包覆上半區域*****/
    #zenbu{
      width: 100%;
      height: calc(100% - 80px);

   
    }
   





    /**/


/*側邊目錄*/

.sidebarBtn{
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 40px;
  box-sizing:border-box;
  cursor:pointer;
  background:none;
  border: none;
  outline: none;
}
.sidebarBtn  span
{
  display: block;
  width: 35px;
  height: 8px;
  background: #FFF;
  position: absolute;
  top:18px;
  right: 2px;
  
  transition:.3s;
}
.sidebarBtn span:before
{
  content:'';
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  height: 8px;
  background: #FFF;
  transition: .3s;
}
.sidebarBtn span:after
{
  content:'';
  position: absolute;
  top: 10px;
  left: 0px;
  width: 100%;
  height: 8px;
  background: #FFF;
  transition: .3s;
}




.sidebarBtn.toggle {

   left:-40px;
}



.sidebarBtn.toggle span
{
  background: transparent;
  
  
}

.sidebarBtn.toggle span:before
{
  top: 0px;
  transform:rotate(45deg);
}
.sidebarBtn.toggle span:after
{
  top: 0px;
  transform:rotate(-45deg);
}

/*上目錄*/
.icanfly{
 height: 40px;
 width: 100%;
 background-color:#000000e3;
}

/*****volume******/
.volume{
      display: flex;
      list-style-type:none; 
      justify-content:space-between;
      align-items: center;
      height:100%;
      width:100%;
      text-align:center;

}
.volume .one{
  list-style-type:none; 
  width:150px;
  height:150px;
  margin-left:2%;
  background:red;
  border:solid 1px red;
  border-radius:99px;
  position:relative;
  top:60px;
  left:0;


 }


 .volume .one img{
   list-style-type:none; 
  width:100%;
  height: 100%;
  border-radius:99px

 }
 .one_a{
  color:#FFF;
  position: absolute;
  top:48px;
  left:149px;
  width: 150px;
  height:50px;
  font-size: 2em;
  background:#fb0e0ea6;
 
  border-right:solid red 1px;
  border-top:solid red 1px;
  border-bottom:solid red 1px;
   z-index:2;


 }
  .one_a:hover{
    color:red;
  }
  #ttt:hover{
    color:red;
  }
.volume .two{
    list-style-type:none;  
  width:200px;
  height:40px;
  color:#FFF;
  
border-bottom:solid 2px red;
}
.volume .three{background: none;}

.Double:hover{
  color:red;
  text-shadow: 1px 1px 2px red;
}